.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: url(img/background.png) center no-repeat;
}

.content {
  padding: 100px 0px;
  margin: auto 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 920px;
  height: 420px;
  background: url(img/login_background.png) no-repeat;
}

.content__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 50px 20px;
}

.content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(215, 225, 230, 0.959);
}

.content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(215, 225, 230, 0.959);
}

.content__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#myAnimation {
  position: absolute;
  top: -20px;
  background: #fff;
  left: 50%;
  background: url(img/bddg.png);
  width: 48%;
  height: 460px;
  bottom: 50%;
  left: 50%;
}

#sign_up:hover {
  background: #10a0b9;
  border-radius: 25px;
}

#login:hover {
  background: #10a0b9;
  border-radius: 25px;
}

#form1, #form2 {
  margin: 20px 30px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 50px 0;
}
.logo h2 {
  margin: 0;
}

.name_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.name_logo h4 {
  margin: 0;
}

.name_input {
  border: none;
}

.email_logo2 {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.email_logo2 h4 {
  margin: 0;
}

.email_input {
  border: none;
}

.lock_logo2 {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lock_logo2 h4 {
  margin: 0;
}

.password_input {
  border: none;
}

#myAnimationGoingLeft-content {
  display: none;
}